[Unit]
Description=Coding-Tag central server
Requires=hardware-api.service

[Service]
Type=forking
PIDFile=/var/run/services-server.pid
ExecStart=/usr/bin/services-server

[Install]
WantedBy=multi-user.target
