[Unit]
Description=Coding-Tag website 

[Service]
Type=simple
ExecStart=/usr/local/bin/flask run -h 0.0.0.0
Environment=FLASK_APP=/path/website.py

[Install]
WantedBy=multi-user.target
