[Unit]
Description=Coding-Tag client stub

[Service]
Type=forking
PIDFile=/var/run/services-client.pid
ExecStart=/usr/bin/services-client
KillSignal=TERM

[Install]
WantedBy=multi-user.target
